<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.defcon.sortDescriptor</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>a</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.smartSets.uniqueKey</key>
		<string>4473631568</string>
		<key>designspace.location</key>
		<array>
			<array>
				<string>One</string>
				<integer>75</integer>
			</array>
			<array>
				<string>Two</string>
				<integer>100</integer>
			</array>
		</array>
		<key>public.glyphOrder</key>
		<array>
			<string>a</string>
		</array>
		<key>public.postscriptNames</key>
		<dict>
		</dict>
		<key>public.skipExportGlyphs</key>
		<array>
		</array>
	</dict>
</plist>
